
.ArticleDetailView {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TextView {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

.LineView {
  margin-left: var(--margin-main);
  margin-right: var(--margin-main);
}
