
.ArticleListItem {
  margin-bottom: calc(
    var(--margin-main) +
    var(--height-shadow-main)
  );
}

.ArticleListItem .TitleView {

}

.ArticleListItem .DetailView {

}

.ArticleListItem .DateView {

}

.ArticleListItem .LineView {
  margin-left: var(--margin-main);
  margin-right: var(--margin-main);
}

.ArticleListItem .TitleView, .DetailView, .DateView {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}
