
.ArticleListItem {
  
}

.TitleView {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}

.DetailView {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
}
