
.TopBar {
  box-shadow: var(--box-shadow-main);
  height: var(--height-bar-top);
  justify-content: space-between;
  position: relative;
}

.TopBarContent {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-max-main);
}

.SmallLink, .LargeLink {
  font-weight: bold;
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  padding-top: var(--padding-main);
  padding-bottom: var(--padding-main);
  text-align: center;
  text-decoration: none;
}

.SmallLink {
  font-size: var(--font-size-3);
  right: 0;
}

.LargeLink {
  left: 0;
  font-size: var(--font-size-1);
}
