
.TopBar {
  display: flex;
  justify-content: space-around;
  box-shadow: var(--box-shadow-main);
  height: var(--height-bar-top);
  position: relative;
}

.TopBar .ContentLayout {
  display: flex;
  width: 100%;
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  max-width: var(--width-max-main);
}

.TopBar .ContentView {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.SmallLink, .LargeLink {
  font-weight: bold;
  font-family: var(--font-family-sans-serif);
  padding: var(--padding-main);
  text-align: center;
  text-decoration: none;
}

.TopBar .SmallLink {
  font-size: var(--font-size-3);
  right: var(--padding-main);
}

.TopBar .LargeLink {
  left: var(--padding-main);
  font-size: var(--font-size-1);
}
