
:root {
  --color-background-main: #fff;
  --color-background-card: #fff;
  --box-shadow-main: 0px 2px var(--height-shadow-main) rgba(0, 0, 0, 0.50);
  --color-text-main: #333;
  --font-family-mono: "Menlo", "Courier New", "Courier", monospace;
  --font-family-sans-serif: 'Open Sans', sans-serif;
  --font-family-serif: 'Libre Baskerville', serif;
  --font-size-1: 36px;
  --font-size-2: 24px;
  --font-size-3: 18px;
  --font-size-4: 14px;
  --font-size-5: 12px;
  --font-size-6: 10px;
  --height-bar-top: 92px;
  --height-bar-bottom: 64px;
  --height-icon-main: 32px;
  --height-shadow-main: 8px;
  --margin-main: 16px;
  --padding-main: 16px;
  --width-max-main: 800px;
}

html, body, header, footer, table, div, ol, ul {
  margin: 0;
  padding: 0;
}

th, tr, td {
  font-family: var(--font-family-mono);
  padding: var(--padding-main);
}

body {
  background-color: var(--color-background-main);
  position: relative;
}

h1, h2, h3, h4, h5, h6, a, p, span {
  color: var(--color-text-main);
  text-decoration: none;
  padding: 0px;
  margin: 8px;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: var(--font-family-sans-serif);
}

a, p {
  font-family: var(--font-family-serif)
}

a {
  font-size: var(--font-size-3)
}

p {
  line-height: 1.75;
}

h1 {
  font-size: var(--font-size-1);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-5);
}

h6 {
  font-size: var(--font-size-6);
}

.Card {
  background-color: var(--color-background-card);
  border-radius: 12px;
  box-shadow: var(--box-shadow-main);
  padding-top: var(--padding-main);
  padding-bottom: var(--padding-main);
}

.Content {
  animation: Gradient 15s ease infinite;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  color: #fff;
  min-height: calc(
    100vh - var(--padding-main) - var(--padding-main) -  var(--height-bar-bottom)
  );
  position: relative;
}

.ContentComponent {
  margin: auto;
  max-width: var(--width-max-main);
}

.ExpandableContentComponent {
  
}

.ContentComponent, .ExpandableContentComponent {
  padding-top: calc(
    var(--padding-main) + var(--height-shadow-main)
  );
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  padding-bottom: calc(
    var(--padding-main) + var(--height-shadow-main) + var(--height-bar-bottom)
  );
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
